.card{
    box-shadow: 0 0.5rem 0.5rem rgba(208, 208, 208, 0.250), inset 0 -1px 0 rgba(188, 188, 188, 0.250); 
    border: none !important;
    transition: 0.3s;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/*.card-img-top:hover{
    background-image: url('https://i.postimg.cc/ZK6k9Yqd/product-01b.jpg')!important;
}*/
img{
    padding: 0;
}
.card-p{
    padding-left: 10px;
}
.price{
    font-weight: 600;
    color: black;
}
.card-title{
    color: black;
}